/*body*/
body{
    margin: 40px;
   /* background-color: rgba(225, 184, 134, 0.518);*/
   background-color: whitesmoke;
    font-size: 20px;
    color: rgb(64, 60, 55);
    background-image: background-image :url(../fonts/sulox32-flower-basket-2839518_1920.jpg)
    
    
}
/*border head*/
.border{
    border: solid 1px;
    color: white;
    padding: 20px;
    border-radius: 8px;
    background-image: url(../fonts/istockphoto-1311980207-1024x1024.jpg);
}
/*follow*/
.icone{
    text-align: center;
}
/*FOOTER*/
footer{
    background: #2e7d32;
    color: #f4f4f4;
    text-align: center;
    padding: 15px;
   
}
