
body{
    margin: 3px 10px; 
    
}

.navbar-top{
    background-color: rgba(6, 68, 6, 0.636);
    padding : 3px 3px;
    margin: -10px -10px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style : none ;
    
    }
  ul a{
        font-size: 13px;
    color: white;
    font-weight: 300;
    text-decoration: dotted;
    text-indent: 20px;
       }
    
h2 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 500;
}
.top{
    color: beige;
    font-size: 25px;
    font-weight: 600;
}
.container{
   
    font-size: 16px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 200;
    background-color: rgb(66, 66, 6);
    padding: 14px 16px;
}
.btn1{
    background-color: green;
    color: beige;
    border-radius: 4px;
    padding: 4px 4px;
    width: 25%;
margin-right: 35%;
}
.herobtn{
    text-align: center;
}

.btn2{
    padding : 5%;
    border-radius: 7px;
    justify-content: space-around;
    margin-left: 18px;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color: green;
    font-weight: 200;
}